body.no-overflow {
    overflow-y: hidden;
}

.header {

    position: absolute;
    width: 100%;
    z-index: 10;

    @include breakpoint-up(small) {
        display: flex;           
    }

    &__logo-wrap {
        display: flex; 
        justify-content: center; 
        padding: 2rem;

        @include breakpoint-up(small) {
            display: block;           
        }
    }

    &__hamburger,
    &__close {
        position: absolute;
        left: 2rem;

        width: 20px;
        height: 14px;

        margin: 0;
        padding: 0;

        background-color: transparent;
        border: 0;

        cursor: pointer;
        outline-offset: .5rem;

        @include breakpoint-up(small) {
            display: none;
        }
    }

    &__hamburger {
        &:focus {   
            outline: 1px dotted var(--white);
        }
    }

    &__close {
        &:focus {   
            outline: 1px dotted var(--dark-gray);
        }
    }


    &__nav-wrap {
        visibility: hidden;
        opacity: 0;
        z-index: 20;
        transform: translateY(-80px);
        
        display: flex;
        justify-content: flex-end; 
        
        position: absolute; 
        top: 0; 
        
        width: 100%;
        padding: 2rem;         
        background-color: transparent; 
       
        
        transition: all 400ms ease-in-out;
        
        

        &.open {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            background-color: white; 
            
             .header__link {
                color: rgba(0,0,0,1);
            }

            @include breakpoint-up(small) {
                visibility: unset;
                background-color: transparent;

                .header__link {
                    color: rgba(255,255,255,1);
                }
            }
            
        }

        @include breakpoint-up(xsmall) {
            justify-content: center;
        }

        @include breakpoint-up(small) {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
            display: block;
            position: relative;
            background-color: transparent;
        }
        
    }

    &__link {
        text-transform: lowercase;
        color: rgba(0,0,0,0);
        font-weight: 600;
        text-decoration: none;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &:focus {  
            outline-offset: .5rem; 
            outline: 1px dotted var(--dark-gray);
        }

        @include breakpoint-up(small) {
            color: var(--white);
            position: relative;
            
            
            &::before {
                content: '';
                background-color: transparent;
                height: 2px;
                position: absolute;
                display: block;
                width: 0rem;
                left: 50%;
                bottom: -1rem;
                text-align: center;
                margin: 0 auto;
                transform: translate(-50%);
                transition: all 300ms ease-in-out;
            }
            

            &:hover {
                &::before {
                    content: '';
                    background-color: var(--white);
                    width: 1.3rem;
                }
            }

            &:focus {
                outline: 1px dotted var(--white);
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &__overlay {
        visibility: hidden;
        background: black;
        opacity: 0;
        position: absolute;
        top: 0;
        // bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 10;

        transition: all 400ms ease-in-out;

        &.open {
            visibility: visible;
            opacity: 0.6;

            @include breakpoint-up(small){
                visibility: hidden;
            }
        }
    }
    
}