.slider {

    background-color: var(--white);

    @include breakpoint-up(small) {
        min-height: 560px;
        height: 70vh;
    }

    &__item {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include breakpoint-up(small) {
            flex-direction: row;
            height: 100%;
        }
    }

    &__picture {
        display: flex;
        object-fit: cover;
        min-width: 0;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 50%;

        transition: all 400ms ease-in-out;

        &.fade-out {
            opacity: 0;
            transform: translateY(-10px);

            @include breakpoint-up(small) {
                transform: translateX(-50px);
            }
        }

        @include breakpoint-up(large) {
            flex-basis: 60%;
        }
    }

    &__image {
        object-fit: cover;
        min-width: 0;
        flex-grow: 1;
        flex-shrink: 0;
        
        width: 100%;
        height: 100%;

        
    }

    &__info {
        flex-grow: 1;
        flex-basis: 50%;
        background-color: var(--white);
        padding: 4.6875rem 2rem;
        position: relative;      
        
        @include breakpoint-up(xsmall) {
            
            padding: 4.6875rem 3.5rem;
                        
        }

        @include breakpoint-up(small) {
            padding: 0 4.00rem;
            display: flex;
            flex-direction: column; 
            justify-content: center;
        }

        @include breakpoint-up(medium) {
            padding: 0 5.75rem;
        }

        @include breakpoint-up(large) {
            flex-basis: 40%;
        }
        
    }

    &__info-wrap {
        @include breakpoint-up(large){            
            max-width: 27rem;
            margin: auto;
        }
    }

    &__animation {
        transition: all 500ms ease-in-out;

        &.fade-out {
            opacity: 0;
            transform: translateY(-10px);

            @include breakpoint-up(small) {
                transform: translateX(-50px);
            }
        }
    }

    &__heading {
        font-size: 1.6875rem;
        color: var(--black);
        font-weight: 700;
        margin-bottom: 1.6875rem;

        @include breakpoint-up(large) {
            font-size: 2rem;
        }

        @include breakpoint-up(xlarge) {
            font-size: 2.25rem;
        }

        
    }

    &__text {
        margin: 0;
        padding: 0;
        line-height: 1.7;
    }

    &__link {
        display: inline-block;
        margin-top: 3.5625rem;
        color: var(--black);
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 6px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        outline-offset: 1rem;

        path {
            fill: var(--black);
            transition: all 200ms ease-in-out;
        }

        &:hover {
            color: var(--dark-gray);
            
            path {              
                fill: var(--dark-gray);
            }
        }

        &:focus {
            outline: 1px dotted black;
        }
    }

    &__buttons {
        position: absolute;
        top: -3.6875rem;
        right: 0;

        display: flex; // removes weird gap between two buttons

        @include breakpoint-up(small) {
            left: 0;
            top: unset;
            bottom: 0;
            
        }
    }

    &__button {
        cursor: pointer;
        border: 0;
        margin: 0;
        padding: 1rem 1.125rem;
        background-color: var(--black);
        transition: background-color 400ms ease-in-out;

        &:hover {
            background-color: var(--very-dark-gray);
            
        }
        &:focus {
            outline: 1px dotted black;
            outline-offset: .2rem;
        }

        @include breakpoint-up(medium) {   
            padding: 1.25rem 1.455rem;
        }
    }


}