:root {

    // Primary

    --dark-gray:        hsl(0, 0%, 63%);
    --black:            hsl(0, 0%, 0%);
    --white:            hsl(0, 0%, 100%);
    --very-dark-gray:   hsl(0, 0%, 27%);

}


// Note for text colors:

// 1. "Verified Graduate" has the same color as the person's name with 50% opacity
// 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity